{% extends "layout.html" %} {% block body %}
<!-- flashメッセージを表示させる -->
{% with messages = get_flashed_messages() %} {% if messages %}
<div id="announce" class="notification is-primary">
  <button class="delete"></button>
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %} {% endwith %}

<form class="box" method="POST">
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="columns is-8 is-variable">
          <div class="column is-half has-text-left">
            <div class="has-text-centered">
              <h1 class="title is-2">OS何使ってますか？</h1>
            </div>
            <div class="container">
              <div class="container">
                <div class="row my-4">
                  <canvas id="myChart"></canvas>
                </div>
                <input type="hidden" id="chart_labels" name="chart_labels" value="{{ graph_data.chart_labels }}" />
                <input type="hidden" id="chart_title" name="chart_title" value="{{ graph_data.chart_title }}" />
                <input type="hidden" id="chart_target" name="chart_target" value="{{ graph_data.chart_target }}" />
                <input type="hidden" id="chart_data" name="chart_data" value="{{ graph_data.chart_data }}" />
              </div>
              <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
              <script type="text/javascript" src="static/js/graph.js"></script>
            </div>
          </div>
          <div class="column is-half has-text-left">
            <form action="{{url_for('vote')}}" method="POST" enctype="multipart/form-data">
              <div class="field">
                <button class="button is-link" type="submit" name="vote" value="Mac OS">
                  Mac OS
                </button>
                <br />
              </div>
              <div class="field">
                <button class="button is-link" type="submit" name="vote" value="Windows">
                  Windows
                </button>
                <br />
              </div>
              <div class="field">
                <button class="button is-link" type="submit" name="vote" value="Linux">
                  Linux
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>

<script>
  $("#announce").delay(2000).slideUp();
</script>
{% endblock %}